In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
score_list = np.random.randint(30, 100, 20)
score_list

array([68, 70, 87, 94, 44, 82, 77, 78, 92, 92, 77, 52, 88, 90, 37, 62, 59,
       77, 42, 79])

In [10]:
bins = [30, 59, 79, 100]
a = pd.cut(score_list, bins)
a

[(59, 79], (59, 79], (79, 100], (79, 100], (30, 59], ..., (59, 79], (30, 59], (59, 79], (30, 59], (59, 79]]
Length: 20
Categories (3, interval[int64]): [(30, 59] < (59, 79] < (79, 100]]

In [11]:
a.value_counts()

(30, 59]     5
(59, 79]     8
(79, 100]    7
dtype: int64

In [12]:
# DataFrame
df = DataFrame()
df["student"] = [pd.util.testing.rands(5) for i in range(20)]

In [16]:
df["score"] = score_list
df

   student  score
0    8g7UD     68
1    XPkef     70
2    87BeQ     87
3    MsO1K     94
4    MDcXC     44
5    48HsI     82
6    yG2C3     77
7    1Cz7r     78
8    Vgon7     92
9    11bN5     92
10   U9Q8Z     77
11   xHxHv     52
12   aRjk2     88
13   ezDA0     90
14   sbin1     37
15   6XpTv     62
16   aYkWO     59
17   Oi5Y4     77
18   Gj6q6     42
19   43Kmr     79

In [19]:
pd.cut(df["score"], bins)

0      (59, 79]
1      (59, 79]
2     (79, 100]
3     (79, 100]
4      (30, 59]
5     (79, 100]
6      (59, 79]
7      (59, 79]
8     (79, 100]
9     (79, 100]
10     (59, 79]
11     (30, 59]
12    (79, 100]
13    (79, 100]
14     (30, 59]
15     (59, 79]
16     (30, 59]
17     (59, 79]
18     (30, 59]
19     (59, 79]
Name: score, dtype: category
Categories (3, interval[int64]): [(30, 59] < (59, 79] < (79, 100]]

In [22]:
pd.cut(df["score"], bins, labels = ["bad", "ok", "awsome"])

0         ok
1         ok
2     awsome
3     awsome
4        bad
5     awsome
6         ok
7         ok
8     awsome
9     awsome
10        ok
11       bad
12    awsome
13    awsome
14       bad
15        ok
16       bad
17        ok
18       bad
19        ok
Name: score, dtype: category
Categories (3, object): [bad < ok < awsome]

In [23]:
df["bins"] = pd.cut(df["score"], bins, labels = ["bad", "ok", "awsome"])

In [24]:
df

   student  score    bins
0    8g7UD     68      ok
1    XPkef     70      ok
2    87BeQ     87  awsome
3    MsO1K     94  awsome
4    MDcXC     44     bad
5    48HsI     82  awsome
6    yG2C3     77      ok
7    1Cz7r     78      ok
8    Vgon7     92  awsome
9    11bN5     92  awsome
10   U9Q8Z     77      ok
11   xHxHv     52     bad
12   aRjk2     88  awsome
13   ezDA0     90  awsome
14   sbin1     37     bad
15   6XpTv     62      ok
16   aYkWO     59     bad
17   Oi5Y4     77      ok
18   Gj6q6     42     bad
19   43Kmr     79      ok