In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series

In [3]:
s = Series(np.random.rand(10))
s

0    0.350730
1    0.855736
2    0.418090
3    0.370348
4    0.779547
5    0.474606
6    0.433522
7    0.840882
8    0.736751
9    0.947566
dtype: float64

In [18]:
s.sort_values(ascending = False)

9    0.947566
1    0.855736
7    0.840882
4    0.779547
8    0.736751
5    0.474606
6    0.433522
2    0.418090
3    0.370348
0    0.350730
dtype: float64

In [19]:
s.max()

0.9475660170256158

In [20]:
s.mean()

0.6207778506888578

In [25]:
s1 = Series([1, 2, 3], index = ["A", "B", "C"])
s2 = Series([4, 5, 6], index = ["A", "D", "E"])
s1 + s2
# A = 5, B~E = NaN

A    5.0
B    NaN
C    NaN
D    NaN
E    NaN
dtype: float64

# DataFrame

In [27]:
df = DataFrame(np.random.rand(20).reshape(4, 5))
df

          0         1         2         3         4
0  0.373109  0.400603  0.107454  0.141832  0.359146
1  0.525993  0.702735  0.364813  0.392390  0.461597
2  0.592977  0.316675  0.957379  0.735226  0.769942
3  0.725701  0.654349  0.620125  0.903575  0.466381

In [29]:
df.sort_values()
# TypeError: sort_values() missing 1 required positional argument: 'by'

TypeError: sort_values() missing 1 required positional argument: 'by'

In [30]:
df.sort_values(4)
# Sort row by col = 4

          0         1         2         3         4
0  0.373109  0.400603  0.107454  0.141832  0.359146
1  0.525993  0.702735  0.364813  0.392390  0.461597
3  0.725701  0.654349  0.620125  0.903575  0.466381
2  0.592977  0.316675  0.957379  0.735226  0.769942

In [33]:
df.sort_values(axis = 1, by = 0)
# Sort col by row = 0

          2         3         4         0         1
0  0.107454  0.141832  0.359146  0.373109  0.400603
1  0.364813  0.392390  0.461597  0.525993  0.702735
2  0.957379  0.735226  0.769942  0.592977  0.316675
3  0.620125  0.903575  0.466381  0.725701  0.654349

In [35]:
df1 = DataFrame(np.random.rand(20).reshape(4, 5), index = [3, 2, 1, 4])
df1

          0         1         2         3         4
3  0.177025  0.987498  0.666424  0.496468  0.645309
2  0.891818  0.329014  0.871559  0.818111  0.092475
1  0.032106  0.736272  0.424883  0.375619  0.403675
4  0.306808  0.633701  0.113853  0.525836  0.090432

In [44]:
df1.sort_index()

          0         1         2         3         4
1  0.032106  0.736272  0.424883  0.375619  0.403675
2  0.891818  0.329014  0.871559  0.818111  0.092475
3  0.177025  0.987498  0.666424  0.496468  0.645309
4  0.306808  0.633701  0.113853  0.525836  0.090432

In [49]:
df1.max()
# Same as;
# df1.max(axis = 0)

0    0.891818
1    0.987498
2    0.871559
3    0.818111
4    0.645309
dtype: float64

In [52]:
df1.describe()

              0         1         2         3         4
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.351939  0.671621  0.519180  0.554009  0.307973
std    0.377003  0.272504  0.326105  0.187686  0.268774
min    0.032106  0.329014  0.113853  0.375619  0.090432
25%    0.140795  0.557530  0.347125  0.466256  0.091964
50%    0.241917  0.684987  0.545653  0.511152  0.248075
75%    0.453060  0.799078  0.717708  0.598905  0.464083
max    0.891818  0.987498  0.871559  0.818111  0.645309