In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import datetime

In [5]:
t = datetime.datetime(2018,10,27)
t

datetime.datetime(2018, 10, 27, 0, 0)

In [14]:
t_list = [
    datetime.datetime(2010,2,19),
    datetime.datetime(2012,4,21),
    datetime.datetime(2014,6,23),
    datetime.datetime(2016,8,25),
    datetime.datetime(2016,10,27)
]

In [15]:
s1 = Series(np.random.rand(5), index = t_list)
s1

2010-02-19    0.303669
2012-04-21    0.014635
2014-06-23    0.513642
2016-08-25    0.404137
2016-10-27    0.195915
dtype: float64

In [16]:
s1["2014-06-23"]

0.5136424697761782

In [17]:
s1["2016"]

2016-08-25    0.404137
2016-10-27    0.195915
dtype: float64

In [20]:
t = pd.date_range(start = "2015-01-01", end = "2017-12-31", freq = "M")
t

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [23]:
t = pd.date_range(start = "2015-01-01", periods = 10)
t

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10'],
              dtype='datetime64[ns]', freq='D')

In [29]:
s2 = Series(np.random.rand(15), index = pd.date_range(start = "20170101", periods = 15))
s2

2017-01-01    0.455345
2017-01-02    0.620787
2017-01-03    0.714570
2017-01-04    0.629126
2017-01-05    0.144144
2017-01-06    0.832823
2017-01-07    0.511013
2017-01-08    0.279371
2017-01-09    0.464198
2017-01-10    0.389563
2017-01-11    0.528061
2017-01-12    0.976782
2017-01-13    0.864212
2017-01-14    0.052354
2017-01-15    0.930204
Freq: D, dtype: float64