In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Reindex Series

In [3]:
s1 = Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s2 = Series([1,2,3,4], index = ["A", "B", "C", "D"])
s2

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
s1.reindex(["A", "B", "C", "D"])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [8]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
s1.reindex(index = [1, 2, 4])

1    2.0
2    3.0
4    NaN
dtype: float64

In [16]:
s1.reindex(index = [1, 2, 4], fill_value = 10)

1     2
2     3
4    10
dtype: int64

In [18]:
s2 = s1.reindex(index = [1, 2, 4], fill_value = 10)
s2
# Nan become 10.

1     2
2     3
4    10
dtype: int64

# Reindex DataFrame

In [26]:
a = np.random.rand(15)
a

array([0.55891145, 0.44327925, 0.36834091, 0.322516  , 0.36958263,
       0.45865638, 0.88529919, 0.29734281, 0.63509228, 0.58474101,
       0.55266197, 0.87309471, 0.97734429, 0.11864378, 0.79128529])

In [27]:
a = np.random.rand(15).reshape(3, 5)
a

array([[0.34487135, 0.84089789, 0.31517106, 0.25895624, 0.188205  ],
       [0.71594642, 0.36686797, 0.82884189, 0.9457525 , 0.79516763],
       [0.4457897 , 0.26513503, 0.80660972, 0.67061943, 0.32392868]])

In [28]:
df = DataFrame(a)
df

          0         1         2         3         4
0  0.344871  0.840898  0.315171  0.258956  0.188205
1  0.715946  0.366868  0.828842  0.945753  0.795168
2  0.445790  0.265135  0.806610  0.670619  0.323929

In [30]:
df = DataFrame(a, index = [1,2,3], columns = ["A", "B", "C", "D", "E"])
df

          A         B         C         D         E
1  0.344871  0.840898  0.315171  0.258956  0.188205
2  0.715946  0.366868  0.828842  0.945753  0.795168
3  0.445790  0.265135  0.806610  0.670619  0.323929

In [31]:
df[["A", "B"]]

          A         B
1  0.344871  0.840898
2  0.715946  0.366868
3  0.445790  0.265135

In [32]:
df.reindex(index = [1,2], columns = ["C", "D"])
# Same as 
# df.loc[[1,2], ["C", "D"]]

          C         D
1  0.315171  0.258956
2  0.828842  0.945753

In [34]:
df.reindex(index = [1,2], columns = ["C", "D", "F"])
# Column "F" is NaN

          C         D   F
1  0.315171  0.258956 NaN
2  0.828842  0.945753 NaN

In [35]:
df.reindex(index = [1,2], columns = ["C", "D", "F"], fill_value = 10)
#  fill_value = 10

          C         D     F
1  0.315171  0.258956  10.0
2  0.828842  0.945753  10.0